<!-- src/main/resources/hibernate.cfg.xml -->
<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings for PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/HibernateDb</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">matar</property>
        <property name="hibernate.archive.autodetection">class, hbm</property>

        <!-- Dialect for PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Echo all executed statements to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Mention annotated class locations -->
        <mapping class="org.example.models.Employee"/>
        <mapping class="org.example.models.Address"/>
        <mapping class="org.example.models.Department"/>
        <mapping class="org.example.models.Manger"/>
        <mapping class="org.example.models.FullTimeEmployee"/>
        <mapping class="org.example.models.PartTimeEmployee"/>
    </session-factory>

</hibernate-configuration>
